@charset "utf-8";



.footmenu ul{
	background-color: #F0D5D6;
	text-align:left;
	list-style:none;
	color: gold;
	height:20px;
	margin-bottom:10px;
	
}


.footmenu ul li{
	margin:1em;
	display:inline;
	font-size:16px
	
	}
	
.footmenu ul li a{
	text-decoration:none;
	color:gray;
	}
.menu ul li a:hover{
	color: yellow;}
.menu ul li a:active{
	color: gray;}